@font-face {
  font-family: "Monsterrat Bold";
  src: url('../../static/fonts/Montserrat-Bold.ttf'),
  url('../../static/fonts/Montserrat-Bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monsterrat Regular";
  src: url('../../static/fonts/Montserrat-Regular.ttf'),
  url('../../static/fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


